/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'OpenSans-Bold';
		font-weight: 700;
		font-style: normal;
		src: url('/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2');
	}
	@font-face {
		font-family: 'OpenSans-Regular';
		font-weight: 700;
		font-style: normal;
		src: url('/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2');
	}
	@font-face {
		font-family: 'OpenSans-ExtraBold';
		font-weight: 700;
		font-style: normal;
		src: url('/fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2');
	}
	@font-face {
		font-family: 'OpenSans-Light';
		font-weight: 700;
		font-style: normal;
		src: url('/fonts/OpenSans/OpenSans-Light.woff2') format('woff2');
	}
	@font-face {
		font-family: 'OpenSans-Medium';
		font-weight: 700;
		font-style: normal;
		src: url('/fonts/OpenSans/OpenSans-Medium.woff2') format('woff2');
	}
	@font-face {
		font-family: 'OpenSans-SemiBold';
		font-weight: 700;
		font-style: normal;
		src: url('/fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2');
	}
	.heading {
		@apply text-xl tracking-wider text-primary-content uppercase font-os-bold;
	}
}

.flex-centween {
	@apply flex items-center justify-between;
}

.flex-centcent {
	@apply flex items-center justify-center;
}

.sidebar__button {
	@apply flex flex-col items-center justify-center px-2 py-2 rounded-lg hover:bg-base-300 space-y-1;
}

.grid-items {
	@apply grid grid-cols-1 px-6 sm:grid-cols-2 sm:gap-y-1 md:grid-cols-3 md:gap-y-2 lg:grid-cols-4 lg:gap-y-3 place-items-center;
}
